html {
	background-size: cover;
  background-position: center center;
  background-image: url(../images/guitar_opacity.jpg);
	color: red;
  background-attachment: fixed;
  position: absolute; 
}

* {
  box-sizing: border-box;
}

h1 {
	color: white;
  font-size: 2.5em;
}

body{
  color: black;
  font-weight: bold;
}

.song-name{
  font-size: 1.5em;
}

.hidden{
/*  display: none; */
visibility: hidden;
}

.go-to-tabs{
/*  display: none; */
visibility: hidden;
}

.nameArtist {
  color: #FFFACD;
  font-size: 1.5em;
}
