
html {
  background-size: cover;
  background-position: center center;
  background-image: url(../images/guitar_background2.jpg);
  background-attachment: fixed;
  /*position: absolute; */
}

* {
  /*border: 1px solid white;*/
  box-sizing: border-box;
}

h1 {
  text-align: right;
  /*border: 2px solid red;*/
  width: 33%;
  float: right;
  color: white;
  font-size: 2.75em;
  font-family: 'Open Sans Condensed', sans-serif;
}

body{
  font-family: 'Open Sans Condensed', sans-serif;
  /*margin: 2px;*/
  color: black;
  font-size: 1.5em;
  font-weight: bold;
  height: 100%;
  /*overflow-x: hidden;*/
  /*overflow-y: scroll;*/
  /*position: fixed;*/

}

ul {
  list-style: none;
}

/*added this* 525pm*/
.container {
  border: 2px solid red;
  display: inline-block;
  width: 1280px;
  clear: both;
  padding-left: 5px;
  padding-right: 2px;
  margin-right: auto;
  margin-left: auto;
}

.row::before,
.row::after {
  display: table;
  content: " "
}

.row::after {
  clear: both;
}

/* Non-mobile, grid */
@media only screen and (min-width: 1000px) {
  
.two {
    min-width: 32%;
    display: block;
    float: left;
  }

  /* 4 columns */
.four {
  min-width: 65%;
  display: block;
  float: left;
}

  /* 6 columns */
.three {
  min-width: 50%;
  display: block;
  float: left;
}

  /* 12 columns */
.six {
min-width: 100%;
display: block;
float: left;
  }


/*.col-3, .col-4, .col-6, .col-12 {
  float: left;
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}
*/

.song-name{
  font-size: 1.5em;
  color: white;
}
.songTitle {
  font-size: .75em;
  width: 370px;
  height: 50px;
  margin-top: 25px;
  /*font-size: 1.25em;*/
}
.songSubmit{
  font-family: 'Open Sans Condensed', sans-serif;
  color:  #f4f471;
  margin-bottom: 5px;
  font-weight: bold;
  width: 150px;
  font-size: 40px;
  height: 55px;
  outline-color: white;
  outline-width: 2px;
  outline-style: solid;
  background-color: Transparent;
  background-repeat:no-repeat;
  margin-top: 20px;
}

/*The SPOTIFY link section*/
.spotify{
  display: inline-block;
  /*position: relative;*/
  height: 595px;
  /*margin: 35%;*/
  margin-top: 2%;
  width: 400px;
  margin-left: 640px;
  background-color: black;
  opacity: .8;
  /*padding: 10px;*/
  border-radius: 5px;
}
.overflow-sm {
  width: 510px;
  height: 540px;
  overflow: auto;
}

.song-results{
  width: 400px;
  height: 600px;
  position: absolute;
  float: right;
}

.song-results2{
  /*background-color: black;*/
  /*opacity: .8;*/
  /*color: black;*/
  width: 350px;
  height: 120px;
  position: absolute;
  float: left;
  margin-top: 40%;     
  margin-left: 60%;
}

/*.get-vids{*/
  /*box-sizing: border-box;*/
  /*margin: auto;*/
  /*padding: 5px;*/
  /*float: right;*/
  /*position: fixed;*/
  /*z-index: 1;*/
  /*width: 35%;*/
  /*height: 330px;*/
  /*display: inline-block;*/
  /*outline: 1px solid white;*/
  /*background-color: yellow;*/
/*}*/

.guitar-tutorial{
  float: right;
  /*background-color: white;*/
  height: 400px;
  width: 425px;
  color: white;
  font-size: 1em;
  overflow: auto;
}

#go-right{
  /*float: right;*/
  background-color: pink;
  height: 600px;
  width: 425px;
  /*color: white;*/
  /*font-size: 1em;*/
  /*overflow: auto;  */
}

/*the rest of the CSS styling*/
.hidden{
  display: none; 
/*visibility: hidden;*/
}

.nameArtist {
  /*color: #FFFACD;*/
  color: white;
  font-size: 1.75em;
}

.tabs-results{
  overflow: auto;
  float: left;
  background-color: azure;
  display: inline-block;
}

.selected{
  color: white;
  margin-top: 0;
  /*margin-right: 50px;*/
  height: 100px;
  width: 300px;
  box-sizing: border-box;
}

.hideNow {
  visibility: hidden;
}

.addArtist{
  /*background-color: grey;*/
  opacity: 20%;
  height: 200px;
  width: 300px;
  box-sizing: border-box;
}

.list-tabs {
  color: white;
}

.next{
  /*opacity: .6;*/
  text-align: left;
  color: lightgrey;
  background-color: #333333;
  font-family: 'Open Sans Condensed', sans-serif;
  color:  #f4f471;
  /*margin-bottom: 5px;*/
  font-weight: bold;
  width: 200px;
  font-size: 40px;
  /*height: 60px;*/
  outline-color: white;
  outline-width: 2px;
  outline-style: solid;
  background-color: Transparent;
  background-repeat:no-repeat;
  display: inline-block;
  /*padding-left: 5px;*/
  /*border: 3px solid white;  */
}

/*This is for the intro section*/
.song-you-want {
  /*position: absolute;
  left: 50%;
  top: 50%;*/
  font-size: 1.9em;
  /*margin: 630px;*/
  /*margin-top: 10%;*/
  /*width: 600px;*/
  height: 250px;
  opacity: .6;
  color: lightgrey;
  background-color: #333333;
  border-radius: 5px;
  text-align: center;
  line-height: 65px;
  margin: auto; 
/*  position: relative;
*/}

.next-song-query{
  width: 200px;
  height: 130px;
  display: inline-block;
  margin-top: 0px;
}

.new-query, .correctTab, .stillWrong{
  float: left;
  position: relative;
  opacity: .6;
  color: lightgrey;
  background-color: #333333;
  font-family: 'Open Sans Condensed', sans-serif;
  color:  #f4f471;
  margin-bottom: 5px;
  font-weight: bold;
  /*width: 200px;*/
  font-size: 20px;
  height: 30px;
  outline-color: white;
  outline-width: 2px;
  outline-style: solid;
  background-color: Transparent;
  background-repeat:no-repeat;
}

/*.correctTab{
  display: inline-block;
  float: left;
  opacity: .6;
  color: lightgrey;
  background-color: #333333;
  font-family: 'Open Sans Condensed', sans-serif;
  color:  #f4f471;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 40px;
  height: 60px;
  outline-color: white;
  outline-width: 2px;
  outline-style: solid;
  background-color: Transparent;
  background-repeat:no-repeat;
}
*/